input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.search-input {
    width: 50%;
    margin: 50px auto;
    padding: 10px;
    outline: none;
    border: 1px solid powderblue;
}

.search-results {

}

.search-link {
    margin: 20px auto;
}

.hidden {
    display: none;
}

.YTplayer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.decisions {
    margin-top: 50px;
    text-align: center;
}

.choices {
    outline: none;
    padding: 10px;
    margin: 0 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid powderblue;
}

.collapse {
    width: 90%;
    margin: 20px auto;
}

.panel {
    /*margin: 10px;*/
}

.inner-text {
    margin-bottom: 20px;
}
