input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.App {
    text-align: center;
}

.hidden {
    display: none;
}

.YTplayer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.decisions {
    margin-top: 50px;
    text-align: center;
}

.choices {
    padding: 20px;
    margin: 0 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightblue;
}
